<ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-android-close" ng-click="backposting();"></button>


        <!-- <a class="button button-large " href="#/tab/postingan">POST</a> -->
        <button class="button button-large button-clear button-light">
          POST
        </button>
</ion-header-bar>
<ion-view>
<ion-content class="padding">
  <div class="list">
    <label class="item item-input">
    <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
    <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
    </label>
  </div>
</ion-content>
</ion-view>
